<% provide(:title, "Home") %>
<div class="center jumbotron">
    
    <h1>Welcome To Book Caffe!!</h1>
    <p>
        This is the place where your favorite books conversation happen. This app provides a platform
         to share your views on a book and engage with other book lovers like you.
    </p>
    <p>
        To get started, <%= link_to "Sign up now", '#', class: "btn btn-lg btn-primary" %>
        if you are new here, <b>Or</b> <%= link_to "Log in", '#', class: "btn btn-lg btn-primary", id: "log" %> 
        as a member to browse books in our library and join or create conversations.
    </p>
    
</div>

<%= image_tag("discussion.png", alt: "Group discussion logo") %>

