<% provide(:title, "Book Caffe Home") %>
<div class="jumbotron">
    <div class="container">
        <h1>Welcome To <span>Book Caffe</span>!!</h1>
        <p>
        This is the place where your favorite books conversation happen. This app provides a platform
         to share your views on a book and engage with other book lovers like you.
        </p>
        <p>
        To get started, <b>(add link to sign up here)if you are new here, Or (add login link here)</b> as a member to browse books in our library and join or create conversations.
        </p>
    </div>
</div>

