<footer class="footer">
  <small>
    The <%= link_to 'Book Caffe', root_path %> Ruby on Rails Flatiron School Project App
    by <a href="https://github.com/vanessuniq">Vanessa Fotso</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to image_tag("linkedin.png", alt: "linkedin icon"),   'https://www.linkedin.com/in/g-vanessa-fotso/' %></li>
      
      <li><a href="mailto:vanessuniq@gmail.com">Get in Touch</a></li>
    </ul>
  </nav>
</footer>