<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "book caffe", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Log In",   '#' %></li>
            <li><%= link_to "Books Library",   '#' %></li>
            <li><%= link_to "Home", home_path %></li>
          </ul>
        </nav>

      </div>
</header>